#Comments
comment{s}
	[#[^\n]*\n] as comment 

#Tokens
token{s}
	[[|]] as PIPE
	[[+]] as PLUS
	[[?]] as OPTIONAL
	[[*]] as MANY
	[as] as AS
	[in] as IN
	[with] as WITH
	[are] as ARE
	[[+-]] as ADDITIVE_OPERAND
	[[*/]] as MULTIPLICATIVE_OPERAND
	[[ \\t]+has[ \\t]+] as HAS
	[[ \\t]+is[ \\t]+silent] as SILENCE
	[any[\\t ]+list] as ANYLIST
	[\\t] as TAB
	[\\n] as NEWLINE
	[[a-zA-Z_-][a-zA-Z0-9_-]*] as NAME
	[[a-zA-Z_-][a-zA-Z0-9_-]*([ \\t]*\\{[ \\t]*([a-zA-Z_-][a-zA-Z0-9_-]*)[ \\t]*\\})?] as LISTNAME
	[[\\t ]+] as SPACES
	[.*] as WILD
	[\\d+] as NUMBER

#Braces
brace{s} are Braced
	[(,)] as BRACE with definition
	[[,]] as SQUARE with WILD as regex
	[\",\"] as QUOTE with WILD as regex
	[,;] as SEMICOLON with arithmatic | definition

altbrace{s} are CharitableBraced
	[,\n] as NEWLINED with arithmatic | definition

#List Rules
list_rule{s} are empty

#Rule Parameters
rule_parameter{s} are empty

#Rules
base is silent
	( SPACES? NEWLINE | comments | rule as rule in rules | list_rule as list_rule in list_rules )+

parameters
	(SPACES AS SPACES NAME as name )? (SPACES IN SPACES listnames as list )? (SPACES WITH SPACES ( NEWLINED | SEMICOLON ) as parameter)? SPACES?

arithmatic has tabCount
	arithmatic SPACES? ADDITIVE_OPERAND as operand SPACES? arithmatic with tabCount+1*2
	arithmatic SPACES? MULTIPLICATIVE_OPERAND as operand SPACES? arithmatic
	rule_parameter | NUMBER

rule is silent
	NAME as rulename in rules ( SILENCE as silence )? ( HAS (NAME as rule_param in rule_parameters)* )? SPACES? NEWLINE TAB definition


list_rule is silent		
	LISTNAME as listname in listnames ( SPACES ARE SPACES NAME as listType )? SPACES? NEWLINE ( TAB ( ( QUOTE | SQUARE ) parameters ) as list_def NEWLINE )*

definition
	( atom atom* ) as chain ( SPACES? ( PIPE | NEWLINE TAB ) definition )? as choice

atom
	SPACES? element parameters

element	is silent
	( definition SPACES? ( OPTIONAL | MANY | PLUS ) as option ) as multiple
	BRACE as braced	
	terminal

terminal
	( ANYLIST ) as anyListNameToken	
	( listnames ) as listsToken
	( any list ) as listToken